/*.bg{
	min-height: 70vh;

		background-attachment: fixed;
  	background-position: center center;
	background-size: cover;

	 background-repeat:no-repeat;

	 opacity:65%;

	 &:nth-child(2n) {
	 	box-shadow: inset 0 0 1em #111;
	 }

}*/

/*#bg-1{
	background-image: url(
    	../images/charlotte2-wide.jpg
    );
}*/

.bg{
	background: url("../images/background.png") repeat;
}

.mySlides{
	height:60vh;
}