.bg{
/*	background: url("../images/background.png") repeat;
*/
	background-color: #9C27B0;
	}

.mySlides{
	height:60vh;
}

#action{
	background-color:"blue";
}


nav.navbar{
   // Animation
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}


footer {
	padding-top:150px;
	padding-bottom:30px;
	position:relative;
}


#action{
	height:550;
}

.fadein{
   transition: opacity .5s ease-in-out, background .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out, background .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out, background .5s ease-in-out;

   padding-top:10px;
   padding-bottom:10px;

}

.fadein:hover {
      background: #ddd;
 }
